


.add_edit_form {
    width: 500px;
    background-image: url(img/background.jpg);
    background-repeat: repeat;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0 rgba(188, 198, 201, 1);
}

.add_edit_form button {
    margin: 20px;
    color: #647279;
    font-family: "Arial";
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background: -moz-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(211, 223, 228, 1) 100%);
}

[name="place"] {
    margin-left: 150px;
}

input.invalid, #sex.invalid {
    background-color:#FA8072;
   }

#place.invalid {
   color: red;
}
