
body {
    margin: 0;
    padding: 0;
    background-color: #e1e9ec;
    font-family: "Arial";
}

.main {
    width: 855px;
    margin: 0 auto;
}

h1 {
    margin: 0;
    text-align: center;
    line-height: 60px;
}

.search-form {
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    background-image: url(./img/background.jpg);
    background-repeat: repeat;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0 rgba(188, 198, 201, 1);
}

.search-form * {
    display: inline-block;
}

input, select {
    line-height: 30px;
    font-size: 15px;
}

label.input_info:not(:first-child) {
    margin-top: 20px;
    margin-left: 30px;
}

label.input_info input {
    width: 140px;
    border-radius: 5px;
}

input[type=button] {
    color: #647279;
    font-family: "Arial";
    border-radius: 5px;
    line-height: 100%;
    background: -moz-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(211, 223, 228, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(211, 223, 228, 1) 100%);
}

.buttons_panel {
    width: 80px;
    height: 30px;
    margin: 20px;
}

.button_delete_edit {
    width: 100%;
    height: 30px;
}

.button_load {
    margin-top: 10px;
    width: 220px;
    height: 30px;

}

.results {
    background-color: #e1e9ec;
    text-align: center;
}

.bar {
    background-color: #b5c2c7;
}

.results_div {
    display: inline-block;
    width: 138px;
    height: 30px;
    line-height: 30px;
    border: 2px solid #94a0a2;

}

.results_div_extra {
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    border: 2px solid #94a0a2;
}

.list {
    margin: auto;
    text-align: center;
    border: 1px solid #94a0a2;
}

.triangle_up {
    margin-left: 5px;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid black;
}

.triangle_down {
    margin-left: 5px;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid black;
}

#sex {
    width: 85px ;
}
#place {
    width: 95px ;
}
